* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: block;
    background-color: black;
}

.caja1 {
    display: flex;
}

#header {
    background-color: black;
}

#main {
    display: block;
    background-color: yellow;
    width: 100%;
}

#footer {
    background-color: gray;
    height: 40px;
}

header {
    display: inline-block;
    width: 130px;
    transition: 0.3s;
    margin-bottom: auto;
    height: inherit;
}

header:hover {
    width: 150px;
    transition: 0.3s;
}

header nav {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

header nav button {
    display: inline-block;
    font-family: 'letra1';
    background-color: transparent;
    /*border: transparent;*/
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    width: 100px;
    transition: 0.1s;
}

header nav button:hover {
    cursor: pointer;
    background-color: rgb(46, 46, 46);
    color: yellow;
    transition: 0.1s;
}

header #logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100px;
    height: auto;
}

main .centrado img {
    width: 100%;
    height: auto;
    transition: 0.3s;
    position: relative;
    z-index: 2;
}

.centrado {
    display: block;
    width: 100%;
    text-align: center;
    background-image: url('../img/index/1.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}


@font-face {
    font-family: 'letra1';
    src: url('../fuenteLetra/BeachSound.otf') format('truetype');
}

@media (min-width: 1000px) {

    main .centrado img {
        width: 80%;
        height: auto;
        transition: 0.3s;
    }

}

@media (min-width: 1200px) {

    main .centrado img {
        width: 60%;
        height: auto;
        transition: 0.3s;
    }

}