* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: block;
    background-color: #0e0e0e;
}

.caja1 {
    display: flex;
}

#header {
    background-color: #0e0e0e;
}

#main {
    display: block;
    background-color: #febf26;
    width: 100%;
    max-height: calc(100vh - 40px);
    overflow: auto;
}

#main.blur {
    filter: blur(20px);
    transition: filter 0.5s ease-out;
}

#main:not(.blur) {
    filter: blur(0);
}

#footer {
    background-color: gray;
    height: 40px;
}

header {
    display: inline-block;
    width: 130px;
    transition: 0.3s;
    margin-bottom: auto;
    height: inherit;
}

header:hover {
    width: 150px;
    transition: 0.3s;
}

header nav {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

header nav button {
    display: inline-block;
    font-family: 'letra1';
    background-color: transparent;
    /*border: transparent;*/
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    width: 100px;
    transition: 0.1s;
}

header nav button:hover {
    cursor: pointer;
    background-color: rgb(46, 46, 46);
    color: yellow;
    transition: 0.1s;
}

header #logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100px;
    height: auto;
}

.centrado {
    position: relative;
    text-align: center;
}

.centrado:nth-child(2) {
    padding-top: 10px;
}

.centrado:nth-child(2) label {
    font-size: 30px;
    font-family: "letra1";
}

.centrado:nth-child(3) {
    padding-top: 15px;
}

.centrado:nth-child(3) label {
    display: inline-block;
    font-size: 20px;
    font-family: "letra2";
    letter-spacing: -1.4px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.centrado img.fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: 0.3s;
    filter: blur(10px);
}

.centrado img {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 2;
    transition: 0.3s;
}

.centrado .cajaFlex img
{
    width: 35%;
    height: auto;
    margin: 10px;
}

.centrado .cajaFlex label
{
    font-family: "letra2";
    font-size: 20px;
    letter-spacing: -1.4px;
}

.cajaFlex
{
    display: inline-flex;
    width: 80%;
    align-items: center;
}

@font-face {
    font-family: 'letra1';
    src: url('../fuenteLetra/BeachSound.otf') format('truetype');
}

@font-face {
    font-family: 'letra2';
    src: url('../fuenteLetra/Sono-Medium.ttf') format('truetype');
}

@media (max-width: 900px) {
    .centrado .cajaFlex label
    {
        font-family: "letra2";
        font-size: 16px;
        letter-spacing: -1.4px;
    }
}

@media (min-width: 1000px) {

    main .centrado img {
        width: 80%;
        height: auto;
        transition: 0.3s;
    }

}

@media (min-width: 1200px) {

    main .centrado img {
        width: 60%;
        height: auto;
        transition: 0.3s;
    }

}